.code-container {
  display: flex;
  background-color: #060606;
  height: 55vh;
  padding: 8px;
  gap: 8px;
}

@media (max-width: 768px) {
  .code-container {
    flex-direction: column;
    height: auto; /* Allow height to adjust based on content */
  }
}

/* CodeMirror styles */
.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}

/* Responsive adjustments for CodeMirror */
@media (max-width: 1024px) {
  .CodeMirror {
    height: 300px !important;
  }
}

@media (max-width: 768px) {
  .CodeMirror {
    height: 250px !important;
  }
}

@media (max-width: 480px) {
  .CodeMirror {
    height: 200px !important;
  }
}
